<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<h3 class="text-info" style="display:inline-block">Community Viewer</h3>
<center>
<a href="/communityCreate" type="button" class="btn btn-info"><i class="fas fa-plus-square"></i></a>&nbsp;
<a href="/communityFind" type="button" class="btn btn-info"><i class="fas fa-search"></i></a>
</center>
</nav>  