</div>
 <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script>
       $(function(){
           $("#btn").click(function(){
                   $("#toggle").toggle();
           });
       });
       function logout(){
           window.location="/logout";
           console.log("logged out");
       }

function w3_open() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("mySidebar").style.width = "15%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
function logout()
{
   $.confirm({
    title: 'Confirm Logout!',
    content: 'Do you really want logout?',
    theme: 'supervan',
    buttons: {
       'Yes': {
           btnClass: 'btn-success',
           action: function(){
              window.location.replace("/logout");
            }
          },
          'No': {btnClass: 'btn-danger',}
   }
  });
}
</script>
</body>
</html>