<div id="main">

<div class="w3-teal" style="background-color:#69696E!important">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" style="background-color:#69696E!important" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
  <a href="#" style="color:white">
    <h2 style="display:inline-block">DiscussIt</h2><a>
    <div style="float:right; margin-bottom:10px">
    
    <span class="badge badge-success"><%=data.username%></span>
    &nbsp;
    <span class="badge badge-warning"><%=data.role%></span>&nbsp;&nbsp;
    <a href="#">
    <img src=<%=data.profile%> style='height:30px;width:30px;border-radius:50%;'>
    </a>
    </div>
  </div>
</div>