<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
              <button class="w3-bar-item w3-button w3-large font-weight-bold" onclick="w3_close()">Close &times;</button>
              <a href="/switchAsUser" class="w3-bar-item w3-button blockquote text-decoration-none"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
              <a href="#" data-toggle="modal" data-target="#switchbtn" class="w3-bar-item w3-button blockquote text-decoration-none"><i class="fas fa-toggle-on"></i> &nbsp;&nbsp;Switch as admin</a>
              <a href="/communityViewer"class="w3-bar-item w3-button blockquote text-decoration-none"><i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;Communities</a>
              <a href="/changePassword" class="w3-bar-item w3-button blockquote text-decoration-none"><i class="fas fa-unlock-alt"></i>&nbsp; &nbsp;Change password</a>
              <a href="#"class="w3-bar-item w3-button blockquote text-decoration-none" onclick="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;Logout</a>
</div>