.password{
	display: inline-block;
	text-align: left;
	background-color: white;
	padding: 20px;
	width: 100%;
	border: 5px solid rgb(229,229,229);
	max-width: 600px;
	margin-top: 50px;
	box-sizing: border-box;
}
h1{
	font-weight: lighter;
}
.textBox{
	display: block;
	padding: 5px 8px;
	font-size: 20px;
	box-sizing: border-box;
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid rgb(229,229,229);
	border-radius: 5px;
}
h4{
	margin-bottom: 5px;
}
.submit{
	border: none;
	background-color: rgb(92,184,92);
	box-sizing: border-box;
	padding: 10px 20px;
	color: white;
}
#changePassword{
	background-color: rgb(51,122,183);
}
#changePassword > i, #changePassword > span{
	color: white;
}
@media screen and (max-width: 950px){
	.password{
		max-width: 100%;
	}
	.tabBar{
		width: 0px;
	}
}